:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-grey: #808080;
  --basic-blue: #0000ff;
  --basic-red: #ff0000;
  --basic-green: #00af00;
  --darkorange: #ff8c00;

  --gradient1-1: #ee7752;
  --gradient1-2: #e73c7e;
  --gradient1-3: #23a6d5;
  --gradient1-4: #23d5ab;

  --gradient2-1: hsl(240, 76%, 65%);
  --gradient2-2: hsl(240, 56%, 55%);
  --gradient2-3: hsl(240, 70%, 65%);
  --gradient2-4: hsl(240, 80%, 65%);
}

* {
  outline: 2px solid var(--basic-white);
  outline-offset: -5px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.vh {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif, "Arial";
  /*font-family: "Ubuntu Mono", monospace;*/
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  background: linear-gradient(
    -45deg,
    var(--gradient2-1),
    var(--gradient2-2),
    var(--gradient2-3),
    var(--gradient2-4)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

.game-preview {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.game-preview__title {
  color: var(--basic-white);
  width: 35%;
  font-size: 3em;
  outline: none;
  text-align: center;
}

.game-preview__wrapper {
  width: 45%;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 2%;
  outline: none;
}

.game-preview__button {
  padding: 0;
  font-size: 5em;
  outline: none;
  width: 150px;
  height: 150px;
  border: 5px solid var(--basic-white);
  border-radius: 25px;
  transition: 500ms ease;
  background-color: transparent;
  color: var(--basic-white);
}

.button-start {
  align-self: center;
  margin: 0;
  padding: 4%;
  text-shadow: 3px 3px 5px var(--basic-black);
  font-size: 3em;
  border: 0;
  width: 45%;
  border-radius: 25px;
  margin-top: 1em;
  outline: none;
}

.game {
  display: flex;
  flex-wrap: wrap;
  flex-direction: columns;
  justify-content: center;
}

.title {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.row {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/*buttons in every row*/
.row button {
  border: none;
  font-size: 2.5em;
  color: var(--basic-white);
  padding: 0.5em;
  margin: 0;
  background-color: rgba(0, 0, 175, 1);
  transition: 500ms ease;
  outline: 2px solid var(--basic-white);
  outline-offset: -5px;
}
/*title in row*/

.row h1 {
  margin: 0;
  padding: 0.5em;
  color: var(--basic-white);
  width: 25%;
  text-shadow: 3px 3px 0 var(--basic-black);
}


.points:hover,
.points:focus {
  transform: scale(1.2);
  transition: 500ms ease;
  /*text-shadow:10px 10px 2px var(--basic-black) ;*/
  box-shadow: 10px 10px 5px 0 rgba(255, 255, 255, 0.3),
    -10px -10px 5px 0 rgba(255, 255, 255, 0.3);
}

.w100 {
  width: 100%;
  text-align: center;
  font-size: 3em;
  border: none;
  outline: none;
}

.button {
  align-self: center;
  margin: 0;
  color: var(--basic-white);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  text-align: center;
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0);
  width: 45%;
  transition: 500ms ease;
  border: 2px solid var(--basic-white);
  border-radius: 25px;
  margin-top: 1em;
}

.button:hover,
.button:focus {
  transition: 500ms ease;
  text-shadow: 3px 3px 5px rgba(12, 12, 255, 1);
  box-shadow: 0 0 2000px 25px var(--basic-white);
}

.all-points {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-shadow: 1px 1px 1px var(--basic-black);
}

.blue,
.all,
.green,
.red {
  border: 5px double var(--basic-white);
  font-size: 3em;
  color: var(--basic-white);
  padding: 0.2em;
}

.red {
  border: 5px double var(--basic-red);
  background-color: var(--basic-red);
}

.green {
  border: 5px double var(--basic-green);
  background-color: #219130;
}

.blue {
  border: 5px double var(--basic-blue);
  background-color: #7572e3;
}

.all {
  border: 5px solid var(--basic-white);
  background-color: var(--darkorange);
  color: var(--basic-blue);
}

.hidden {
  transition: 500ms ease;
  display: none;
}

.image-output,
.AnswerImage {
  transition: 1500ms ease;
  border: 22px solid var(--basic-white);
  position: fixed;
  width: 91vw;
  top: 12vh;
  height: 82vh;
  background-color: rgb(0, 0, 200);
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.AnswerImage {
  padding: 0;
  margin: 0;
  z-index: 10;
  flex-direction: column-reverse;
  justify-content: center;
  animation: opactity 500ms ease 1;
}

.Image-Of-Question {
  position: relative;
  width: calc(200% - 10wv);
  width: 95wv;
  height: auto;
  z-index: 15;
}

.Audio-Of-Question {
  width: 40%;
  transform: scale(1.5);
  outline: none;
  min-width: 50%;
}


.Image-Of-Answer {
  position: relative;
  z-index: 15;
  width: 30%;
}

/* .AnswerMsg { */
.question-text,
.question-text-answer {
  padding: 0;
  align-self: center;
  text-align: center;
  color: var(--basic-white);
  outline: none;
  font-size: 3em;
  text-shadow: 1px 1px 1px var(--basic-black),
    -1px -1px 1px var(--basic-black),
    1px -1px 1px var(--basic-black),
    -1px 1px 1px var(--basic-black);
  z-index: 15;
}

.question-text {
  font-size: 3.2em;
}

.question-text-answer {
  position: relative;
  font-size: 2.5em;
}


/* .AnswerMsg {
  font-size: 3em;
  text-decoration: uppercase;
  text-decoration-line: underline;
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--basic-black);
} */

.Red-Button,
.Blue-Button,
.Red-Button-Minus,
.Blue-Button-Minus,
.Green-Button,
.Green-Button-Minus {
  font-size: 2em;
  border: 10px solid transparent;
  z-index: 20;
  outline: 5px solid var(--basic-grey);
  outline-offset: -8px;
}

.Red-Button:hover,
.Blue-Button:hover,
.Red-Button:focus,
.Blue-Button:focus,
.Green-Button:focus,
.Green-Button:hover,
.Green-Button-Minus:hover,
.Red-Button-Minus:hover,
.Blue-Button-Minus:hover,
.Red-Button-Minus:focus,
.Blue-Button-Minus:focus {
  border: 10px solid var(--basic-black);
}

ins,
sup {
  outline: none;
}

.Red-Button,
.Red-Button-Minus {
  position: absolute;
  bottom: 12%;
  min-width: 15%;
  right: 2%;
}

.Blue-Button,
.Blue-Button-Minus {
  position: absolute;
  bottom: 12%;
  left: 2%;
  min-width: 15%;
}

.Green-Button {
  position: absolute;
  bottom: 12%;
  left: 2%;
  min-width: 15%;
}

.Blue-Button-Minus,
.Red-Button-Minus,
.Green-Button-Minus {
  position: absolute;
  min-width: 15%;
  bottom: 1%;
}

.Green-Button,
.Green-Button-Minus {
  left: 50%;
  transform: translateX(-50%);
}

.btn-close-question:hover {
  transform: scale(1.7);
  transition: 300ms ease;
}

.btn-close-answer-area:hover {
  transform: scale(1.7);
  transition: 300ms ease;
}

.btn-close-question::before,
.btn-close-question::after,
.btn-close-answer-area::after,
.btn-close-answer-area::before {
  position: absolute;
  left: 22px;
  content: "";
  height: 63px;
  width: 10px;
  background-color: var(--basic-white);
  z-index: 20;
}

.btn-close-question::before,
.btn-close-answer-area::before {
  transform: rotate(45deg);
}

.btn-close-question::after,
.btn-close-answer-area::after {
  transform: rotate(-45deg);
}

.choose-game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.AnswerImage,
.image-output,
.points {
  background: linear-gradient(
    45deg,
    var(--gradient2-1),
    var(--gradient2-2),
    var(--gradient2-3),
    var(--gradient2-4)
  );
  animation: gradient 15s ease infinite;
  text-shadow: 1px 1px 0 var(--basic-black);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes opactity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.image-output {
  /* border: 2px solid darkorange; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  /*transition: 300ms ease; mifomen*/
  animation: opactity 1000ms ease 1;
}

.image-output * {
  /* width: auto; */
  width: calc( 100wv - 40% );
}

.btn-close-question,
.btn-close-answer-area {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 60px;
  height: 60px;
  /*opacity: 0.3;*/
  content: "";
  font-size: 0;
  background-color: transparent;
  outline: none;
  border: 0;
  transition: 300ms ease;
}
